@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/*Estilização do Header*/

.cabecalho {
    background-color: #fff538;/*Cor do Fundo Header*/
    display: flex; 
    align-items: center;
    justify-content: left;
    padding: 30px;
    gap: 40px;
}

.img-cabecalho {

    width: 80px;
}

.div-nome-empresa {
font-family: "Archivo Black";
font-size: 20px;

}

.img-aviao {
    width: 50px;
}

/*Etilização da Lista do Header*/

.ul-lista-header li{

    list-style: none;

}

.ul-lista-header {

    display: flex;
    justify-content: right;
    gap: 60px;
}

.ul-lista-header li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 20px;
    font-weight: bolder;

}

/*Fim da Estilização do Header*/

/*Inicio da Estilização da Section-01*/

.section-01 {

    background-color: #66ffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    gap: 40px;
}

.img-section-01 {

    width: 600px;
}