@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/*Estilização do Header*/

.cabecalho {
    background-color: #fff538;/*Cor do Fundo Header*/
    display: flex; 
    align-items: center;
    justify-content: left;
    padding: 20px;
    gap: 40px;
}

.img-cabecalho {

    width: 80px;
}

.div-nome-empresa {
font-family: "Archivo Black";
font-size: 20px;

}

.img-aviao {
    width: 50px;
}

/*Etilização da Lista do Header*/

.ul-lista-header li{

    list-style: none;

}

.ul-lista-header {

    display: flex;
    justify-content: right;
    gap: 60px;
}

.ul-lista-header li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 20px;
    font-weight: bolder;

}

/*Fim da Estilização do Header*/

/*Inicio da Estilização da Section-01*/

.section-01 {

    background-color: #ddd53e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px;
    gap: 100px;
}

.img-section-01 {

    width: 310px;
}

.section-01 p {

    font-size: 30px;
    text-align: justify;
}

/*inicio da Estilização da Section-02*/

.section-02 {

    background-color: #fff538;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fa-solid {

font-size: 35px;
padding: 5px;

}

.paragrafo-section-02 {

    font-size: 20px;
}
 /*Iniciando Estilização section-03*/

 .section-03 {
    background-image: url(Imagens/Dicas-nordeste.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .section-03 div {
display: flex;
align-items: center;
justify-content: center;
    flex-direction: column;
    gap: 50px;
 }

 .button-section-03 {

    background-color:#fff538;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    
    

 }

 /* inicio da estilização da section-04 */

 .section-04 div {
width: 300px;
height:400px ;
background-color: #009ddd;
padding: 40px;
text-align: justify;
border-radius: 20px;
text-align: center;

 }

 .section-04 {
background-color: #fff538;
display: flex;
align-items: center;
justify-content: center;
padding: 60px;
gap: 30px;

 }

 /* Estilização Quadro 01 | section-04 */
 .div-quadro-01 {

font-size: 20px;
font-weight: 300px;

 }

 .div-quadro-01 h2 {
font-size: 25px;
margin-top: 30px;

 }

 .img-disney {

    width: 300px;
 }


/* Estilização Quadro 02 | section-04 */

 .div-quadro-02 {

    background-image: url(Imagens/ChatGPT\ Image\ 12\ de\ mar.\ de\ 2026\,\ 19_28_49.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
 }

 /* Estilização Quadro 03 | section-04 */

 .div-quadro-03 {

    font-size: 20px;
    font-weight: 300px;
 }


 .img-agente-viagem {

    width: 100px;
 }

 .fa-whatsapp {

    font-size: 100px;

 }

 /* Estilização Rodapé */

 footer {

    background-color: #fff538;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
 }

 .fa-brands {
    font-size: 30px

 }
